.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: start;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
